# 7b) Clustering

In [24]:
import sklearn
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly import figure_factory as figureFact
from sklearn.cluster import KMeans 
from sklearn.metrics import silhouette_score

#use pandas to load csv file
import pandas as pandas
#use numpy to calculate stuff
import numpy as np

# init offline plotlib
init_notebook_mode(connected=True)

### Data preparation

In [45]:
#load data and merge both tables to one
redwinedata = pandas.read_csv('data/winequality-red.csv', sep =';')
whitewinedata = pandas.read_csv('data/winequality-white.csv', sep =';')
concat_data = redwinedata.append(whitewinedata)

In [46]:
# drop the quality label and data
concat_data = concat_data.drop('quality', axis=1)

In [47]:
#show the head of data
concat_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [48]:
winearray = concat_data.values
print(winearray)

[[ 7.4   0.7   0.   ...  3.51  0.56  9.4 ]
 [ 7.8   0.88  0.   ...  3.2   0.68  9.8 ]
 [ 7.8   0.76  0.04 ...  3.26  0.65  9.8 ]
 ...
 [ 6.5   0.24  0.19 ...  2.99  0.46  9.4 ]
 [ 5.5   0.29  0.3  ...  3.34  0.38 12.8 ]
 [ 6.    0.21  0.38 ...  3.26  0.32 11.8 ]]

preprocessing.scale in sklearn to normalize

In [49]:
# normalize the array 
winearray_norm = sklearn.preprocessing.scale(winearray)

### K-Means

In [75]:
# http://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_silhouette_analysis.html

kmeans_sil_scores = []

for nr_clusters in range(2, 10):
    clusterer = KMeans(n_clusters=nr_clusters, random_state=10)
    cluster_labels = clusterer.fit_predict(winearray_norm)
    silhouette_avg = silhouette_score(winearray_norm, cluster_labels)
    ##print("For n_clusters =", nr_clusters,"The average silhouette_score is :", silhouette_avg)
    kmeans_sil_scores.append([nr_clusters, silhouette_avg])

print(kmeans_sil_scores)

For n_clusters = 2 The average silhouette_score is : 0.2766102466709183
For n_clusters = 3 The average silhouette_score is : 0.23507051305667923
For n_clusters = 4 The average silhouette_score is : 0.24752476415510705
For n_clusters = 5 The average silhouette_score is : 0.18031988651384204
For n_clusters = 6 The average silhouette_score is : 0.18626179598840933
For n_clusters = 7 The average silhouette_score is : 0.1742929153287071
For n_clusters = 8 The average silhouette_score is : 0.15982081214821775
For n_clusters = 9 The average silhouette_score is : 0.14843598616960835
[[2, 0.2766102466709183], [3, 0.23507051305667923], [4, 0.24752476415510705], [5, 0.18031988651384204], [6, 0.18626179598840933], [7, 0.1742929153287071], [8, 0.15982081214821775], [9, 0.14843598616960835]]